.dash_cont {
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.dashboard {
    flex: 2;
    width: 100%;
}

.actions {
    flex: 1;
    width: 100%;
}

.alerts {
    flex: 1;
    width: 100%;
}

.dash_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.head {
    color: #000;
    font-family: Montserrat;
    font-size: 1.5rem;
}

.opt {
    display: flex;
    padding: 0.2rem;
    /* width: 5rem;
    height: 1rem; */
    border-radius: 1rem;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(26, 56, 117, 0.05);
}

.dash_icons {
    font-size: 0.5rem;
    cursor: pointer;
    margin: 0rem 0.5rem;
    scale: 0.8;
}

.containers {
    display: flex;
    width: 100%;
}

.cont1,
.cont2,
.cont3,
.cont4 {
    flex: 1;
    border-radius: 0.75rem;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(26, 56, 117, 0.05);
    margin: 1rem;

}

@media (max-width: 600px) {


    .dash_cont {
        display: flex;
        flex-direction: column;
        align-items: start;
        overflow-y: hidden;
    }

    .containers {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .dashboard,
    .actions,
    .alerts {
        width: 100%;
        overflow-y: hidden;
    }


}