.col_cont {
    display: flex;
    max-height: 100vh;

}

.col1 {
    background-color: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(26, 56, 117, 0.05);
    flex: 0.5;
}

.col2 {
    flex: 8;
    background: #F7FAFF;
}

.col3 {
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(26, 56, 117, 0.05);
    flex: 3;

}